#box {
    width: auto;
    height: auto;
    text-align: center
}

.miniature {
    float: left;
    width: 35%;
    background-color: #e3f2ff;
}

.miniature img {
    width: 35%;
    margin: 5%;
    cursor: pointer;
}

.photo {
    position: absolute;
    margin-bottom: 150%;
    margin-left: 35%;
    width: 75%;
}

.slide {
    width: 60%;
    margin: 5%
}

.slide img {
    width: 100%
}